<div class="col">
  <div class="card">
    <h5 class="card-header"><%= day%></h5>
    <div class="card-body">
      <h5 class="card-title">No Meal Planned</h5>
      <p class="card-text"><%- include("meal_select_form", {route:"new"}) %></p>
    </div>
  </div>
</div>