<div class="col">
  <div class="card">
    <h5 class="card-header">Saturday, January 1st, 2000</h5>
    <div class="card-body">
      <h5 class="card-title">Baked Potato</h5>
      <p class="card-text">
        <b>Calories:</b> 1090
        <br />
        <b>Servings:</b> 6
        <br />
        <b>Cook Time:</b> 10 minutes
      </p>
      <a href="#" class="btn btn-primary">Go to recipe</a>
    </div>
    <div class="card-footer">
      <a
        href="#"
        class="card-link"
        data-bs-toggle="modal"
        data-bs-target="#dayModal"
        >Change meal</a
      >
      <!-- TODO: Make sure to make id unique^^^^ -->
      <a href="#" class="card-link">Edit recipe</a>
    </div>
  </div>
</div>

<%- include("edit_day_modal") %>
