<div class="col">
  <div class="card">
    <h5 class="card-header">Saturday, January 1st, 2000</h5>
    <div class="card-body">
      <h5 class="card-title">Baked Potato</h5>
      <p class="card-text">
        <b>Calories:</b> 1090
        <br />
        <b>Servings:</b> 6
        <br />
        <b>Cook Time:</b> 10 minutes
      </p>
      <a href="#" class="btn btn-primary">Go to recipe</a>
      <br />
      <p class="card-text">
        <a href="#" class="card-link">Change meal</a>
        <a href="#" class="card-link">Edit recipe</a>
      </p>
    </div>
  </div>
</div>
