<div class="modal fade" id="dayModal<%=id%>" tabindex="-1" aria-labelledby="dayModalLabel" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="dayModalLabel">
          <%=day%>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><%-include("meal_select_form", {route:`${id}/edit`, seconds:seconds})%></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>