<hr />
<div class="text-center m-3">
  <a href="/" class="text-white"
    ><button type="button" class="btn btn-primary text-center">Home</button>
  </a>
  <a href="/meals" class="text-white"
    ><button type="button" class="btn btn-primary text-center">Meals</button>
  </a>
  <a href="/ingredients" class="text-white"
    ><button type="button" class="btn btn-primary text-center">
      Ingredients
    </button>
  </a>
  <a href="/groceries" class="text-white"
    ><button type="button" class="btn btn-primary text-center">
      Grocery Trip Planner
    </button>
  </a>
</div>
<hr />
