<%- include('partials/header', {pageTitle: "Meal Planner"}) %>

<div class="container text-center">
  <h1 class="text-center">Meal Planner</h1>
  <p>Welcome to the meal planner!</p>
  <p>Below are the planned dinners for the next 30 days:</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for (day of days){%> <% let date = new Date(day)%> <% let plannedMeal =
    plannedMeals.find(e => (new Date(e.date)).getTime() == date.getTime())%> <% console.log("plannedMeal", plannedMeal)%> <% console.log("(new Date(e.date)).getTime()", (new Date(e.date)).getTime())%>
    <%console.log("date.getTime()", date.getTime())%> <%-
    include('partials/day_card',{day:date.toDateString(),
    plannedMeal:plannedMeal})%> <%} %>
  </div>
</div>

<%- include('partials/footer') %>
