<%- include('../partials/header', {pageTitle: "Add Meal"}) %>
<h2 class="text-center">Add a New Meal</h2>
<div class="container">
  <form action="/meals/create" method="POST">
    <div class="form-group">
      <label for="editMealName">Meal Name</label>
      <input type="text" class="form-control" id="editMealName" name="name" placeholder="Potato" required />
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Click to Add Recipe Information
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-group">
              <label for="editMealServings">Meal Servings</label>
              <input type="number" class="form-control" id="editMealServings" name="servings" placeholder="3" />
            </div>
            <div class="form-group">
              <label for="editMealCalories">Meal Calories</label>
              <input type="number" class="form-control" id="editMealCalories" name="calories" placeholder="360" />
            </div>
            <div class="form-group">
              <label for="editMealCookTime">Meal Cook Time in Minutes</label>
              <input type="number" class="form-control" id="editMealCookTime" name="cookTime" placeholder="20" />
            </div>
            <div class="form-group">
              <label for="editMealRecipeUrl">Meal Recipe Url</label>
              <input type="url" class="form-control" id="editMealRecipeUrl" name="recipe_url" placeholder="www.google.com" />
            </div>
            <div class="form-group">
              <label for="instructions">Instructions</label>
              <textarea class="form-control" placeholder="Write the instructions for the recipe here" id="instructions"></textarea>
            </div>
            <label>Ingredients</label>
            <% for(let i = 0; i < 20; i++) {%>
            <%- include('../partials/ingredient_selector', {ingredients:ingredients, input_id:i}) %>
            <%}%>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center m-3">
      <a href="/meals"><button type="button" class="btn btn-secondary">Cancel</button></a>
      <button type="submit" class="btn btn-primary">Create Meal</button>
    </div>
  </form>
</div>
<%- include('../partials/footer') %>